{% extends "base.html" %}
{% load static %}
{% block navbar %}
  {% include "navbar.html"%}
{% endblock %}
{% block title %}
  Events@IEEE MSIT
{% endblock %}
{% block index %}
<div class="container events-container">
  {% if eventList %}
  {% if futureEvents %}
  <div class="row">
    <div class="col events-category">
      <h2>Upcoming Events</h2>
    </div>
  </div>
  <div class="card-columns">
    {% for event in futureEvents %}
    <div class="card" style="width: 450;">
      <img class="card-img-top" src={{event.image.url}} alt="Card image">
      <div class="overlay">
        <p class="event-description">
          {{event.event_description|truncatechars:300|capfirst}}
        </p>
        <div class="card-footer">
          <a type="button" class="btn btn-light" href="/events/{{event.id}}/{{event.event_title|slugify}}" target="_blank">Read More</a>
          {% if event.register_url %}
          <a type="button" class="btn btn-primary"  href="{{ event.register_url }}"  target="_new" >Register Now</a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          {{ event.event_title|capfirst }}
        </h4>
        <div class="card-text"><p>{{ event.event_date|date:"d N Y" }}</p></div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
  {% if pastEvents %}
    <div class="row">
      <div class="col events-category">
        <h2>Past Events</h2>
      </div>
    </div>
    <div class="card-columns">
      {% for event in pastEvents %}
      <div class="card" style="width: 450;">
        <img class="card-img-top" src={{event.image.url}} alt="Card image">
        <div class="overlay">
          <p class="event-description">
            {{event.event_description|truncatechars:300|capfirst}}
          </p>
          <div class="card-footer">
            <a type="button" class="btn btn-light" href="/events/{{event.id}}/{{event.event_title|slugify}}" target="_blank">Read More</a>
            {% if event.report %}
            <a type="button" class="btn btn-light"  href="{{ event.report.url }}"  target="_new" >Get Report</a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            {{ event.event_title|capfirst }}
          </h4>
          <div class="card-text"><p>{{ event.event_date|date:"d N Y" }}</p></div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %} 
  {% else %}
    <h1>There are currently no events. Please check again later. We are preparing something resourceful for you</h1>
  {% endif %}
</div>
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
