{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
ExeCom@IEEE MSIT
{% endblock %}
{% block index %}
<style>
    .m-auto{
      padding-bottom: 5vh;
    }
</style>
<div class="container-fluid excom-wrapper"> 
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-center">
        <h1 class="excom-title">ExeCom 2020-21</h1>
      </div><br>
      
      <div class="row justify-content-center">
        <h2 class="excom-chapter">Advisory Board</h2>
      </div><br>
      {% for rankedMembers in taMembers %}
        <div class="row">
          {% for member in rankedMembers %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <img src="{{member.image.url}}">
                  {% else %}
                  <img src="{% static 'images/defaultDP.jpg' %}">
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>    
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="/aboutUs">
          <h2 class="excom-chapter" style="color: black">IEEE Main</h2><br>
        </a>
      </div>
      {% for rankedMembers in mainMembers %}
        <div class="row">
          {% for member in rankedMembers %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{{member.image.url}}"></a>
                  {% else %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="compsoc">
          <h2 class="excom-chapter" style="color: black">IEEE CS</h2><br>
        </a>
      </div>
      {% for rankedMembers in csMembers %}
        <div class="row">
          {% for member in rankedMembers %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{{member.image.url}}"></a>
                  {% else %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      
      <div class="row justify-content-center">
        <a href="/ras">
          <h2 class="excom-chapter" style="color: black">IEEE RASs</h2><br>
        </a>
      </div>
      {% for rankedmembers in rasMembers %}
        <div class="row">
          {% for member in rankedmembers %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{{member.image.url}}"></a>
                  {% else %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>    
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE PES</h2><br>
        </a>
      </div>
      {% for RKDmember in pesMembers %}
        <div class="row">
          {% for member in RKDmember %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">    
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#" {% endif %}>
                    <img src="{{member.image.url}}"></a>
                  {% else %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>    
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/wie">
          <h2 class="excom-chapter" style="color: black">IEEE WiE</h2><br>
        </a>
      </div>
      {% for RKDmember in wieMembers %}
        <div class="row">
          {% for member in RKDmember %}
            <div class="col-md-3 m-auto">
              <div class="excom-teams">    
                <div class="excom-card align-items-center">
                  {% if member.image %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{{member.image.url}}"></a>
                  {% else %}
                  <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                    {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                  {% endif %}
                  <br>
                  {{member.name}}
                  <br>
                  {{member.designation}}
                  <br>
                  {% if member.resume %}
                  <a href="{{ member.resume.url }}" target="_blank"><i class="fas fa-file-alt fa-lg"></i></a>
                  {% endif %}
                  {% if member.facebook %}
                  <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                  {% endif %}
                  {% if member.linkedIn %}
                  <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                  {% endif %}
                  {% if member.email %}
                  <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                  {% endif %}
                </div>    
              </div>
            </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block pageJS %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/excom.js' %}"></script>
{% endblock %}