{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
ExeCom@IEEE MSIT
{% endblock %}
{% block index %}
{% load dictKey %}
<style>
    .m-auto{
      padding-bottom: 5vh;
    }
</style>
<link rel="stylesheet" href="{% static 'css/execomCard.css'%}">

<div class="container-fluid excom-wrapper">
  <div class="row justify-content-center">
    <div id="team" class="col-10 text-center">
      <div class="row justify-content-center">
        <h1 class="excom-title">ExeCom 2022-23</h1>
      </div><br>
      <div class="row justify-content-center">
        <h2 class="excom-chapter">Advisory Board</h2>
      </div><br>

      {% for rankedMembers in records.TA %}
        <div class="row justify-content-center">
          {% for member in rankedMembers %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="/aboutUs">
          <h2 class="excom-chapter" style="color: black">IEEE Main</h2><br>
        </a>
      </div>
      
      {% for rankedMembers in records|dictKey:'IEEE Main' %}
        <div class="row justify-content-center">
          {% for member in rankedMembers %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="compsoc">
          <h2 class="excom-chapter" style="color: black">IEEE CS</h2><br>
        </a>
      </div>
      {% for rankedMembers in records|dictKey:'IEEE CS' %}
        <div class="row justify-content-center">
          {% for member in rankedMembers %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}

      <div class="row justify-content-center">
        <a href="/ras">
          <h2 class="excom-chapter" style="color: black">IEEE RAS</h2><br>
        </a>
      </div>
      {% for rankedmembers in records|dictKey:'IEEE RAS' %}
        <div class="row justify-content-center">
          {% for member in rankedmembers %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE PES</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE PES' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>

      <div class="row justify-content-center">
        <a href="/wie">
          <h2 class="excom-chapter" style="color: black">IEEE WiE</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE WIE' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Design Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Design Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Projects Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Projects Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Editorial Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Editorial Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Program Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Program Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Publicity Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Publicity Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      <div class="row justify-content-center">
        <a href="/pes">
          <h2 class="excom-chapter" style="color: black">IEEE Web-Dev Committee</h2><br>
        </a>
      </div>
      {% for RKDmember in records|dictKey:'IEEE Web-Dev Committee' %}
        <div class="row justify-content-center">
          {% for member in RKDmember %}
          <div class="col-lg-3 col-md-3 pt-1">
              <div class="card h-80">
                  <div class="card-body">
                      {% if member.image %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{{member.image.url}}">
                      {% else %}
                      <img class="img-fouild rounded w-75 mb-3"
                          src="{% static 'images/defaultDP.jpg' %}">
                      {% endif %}

                      <h3>{{member.name}}</h3>
                      <h5>{{member.designation}}</h5>
                      <p>{{member.branch}}
                          <br/>
                      {% if member.email %}
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                      {% endif %}
                      </p>
                      <div class=" hi d-flex flex-row justify-content-center">
                          {% if member.facebook %}
                          <div class="p-3">
                              <a href="{{member.facebook}}" target="_blank">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.linkedIn %}
                          <div class="p-3">
                              <a href="{{member.linkedIn}}" target="_blank">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                          </div>
                          {% endif %}
                          {% if member.insta %}
                          <div class="p-3">
                              <a href="{{member.insta}}" target="_blank">
                                  <i class="fab fa-instagram"></i>
                              </a>
                          </div>
                          {% endif %}
                      {% if member.resume %}
                        <div class="p-3">
                            <a href="{{ member.resume.url }}" target="_blank">
                                <i class="fas fa-file"></i>
                            </a>
                          </div>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div><br>
      {% endfor %}
      <br>
      
      
      
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block pageJS %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/excom.js' %}"></script>
{% endblock %}
