<div class="container-fluid foot-wrapper">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row foot-heading">
          <div class="col">
            <h1>Contact</h1>
          </div>
    	</div>
    	<div class="row foot-address">
    		<div class="col-12 col-md-6 col-lg-6">
          <iframe    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeU27BJXvdJKVVmoWy8FIKbiKJIk0KK78          &q=Maharaja+Surajmal+Group+Of+Institutions,Seattle+WA" allowfullscreen>
          </iframe>
    		</div>
    		<div class="col-lg-5 offset-lg-1 col-md-4 offset-md-1 col-sm-10 offset-sm-1 col-12">
    			<h4>Address</h4>
    			<p>Maharaja Surajmal Institue of Technology<br>
    			C-4, Lal Sain Mandir Marg, Janak Puri, New Delhi, Delhi 110058</p>
    			<h4>Email</h4>
    			<p><a href="mailto:ieee@msit.in">ieee@msit.in</a></p>
    		</div>
    	</div>
    </div>
  </div>
</div>
<div class="container-fluid foot-credits">
  <div class="col">
      <p>Copyright &copy; 2018, IEEE MSIT <br> Designed and Developed and Maintained by <a href="/team">IEEE MSIT website Team</a>
</div>
