{% load static %}
<div class="container-fluid navnav-container bg-light">
  <div class="row align-items-center navnav-ieee">
    <div class="col">
      <a href="#" target="_blank">IEEE.org</a>
      <a href="#" target="_blank">IEEE Xplore Digital Library</a>
      <a href="#" target="_blank">IEEE Standards</a>
      <a href="#" target="_blank">IEEE Spectrum</a>
      <a href="#" target="_blank" class="navnav-right">Join IEEE</a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navnav-main" aria-controls="navnav-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navnav-main">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="far fa-calendar-alt fa-lg"></i>Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-users fa-lg"></i>ExCom
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-info-circle fa-lg"></i>About IEEE MSIT
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/"><img src="{% static 'images/Untitled-3.png' %}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-info-circle fa-lg"></i>About IEEE
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-trophy fa-lg"></i>Achievments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-connectdevelop fa-lg"></i>SIG
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>
