{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
IEEE RAS
{% endblock %}
{% block index %}
<div class="container specific-wrapper index-chapters">
    <div class="row specific-image align-items-center index-chapter-images">
        <div class="col">
            <img src="{% static 'images/RAS_MSIT.png' %}" style="height:30%;width:30%" />
        </div>
    </div>
    <div class="row specific-title">
        <div class="col">
            <h1>IEEE MSIT ROBOTICS AND AUTOMATION SOCIETY</h1>
        </div>
    </div>
    <div class="row index-mission justify-content-center">
        <div class="col-10">
            <p>
                The IEEE Robotics and Automation Society's objectives are scientific, literary and educational in
                character. The Society strives for the advancement of the theory and practice of robotics and automation
                engineering and science and of the allied arts and sciences, and for the maintenance of high
                professional standards among its members, all in consonance with the Constitution and Bylaws of the IEEE
                and with special attention to such aims within the Field of Interest of the Society.
            </p>
        </div>
    </div>
    <div class="excom-wrapper">
        <div class="row specific-title">
            <div class="col">
                <h1>IEEE MSIT RAS TEAM</h1>
            </div>
        </div>
        <div class="row">
            {% for member in members %}
            <div class="col-md-4 m-auto">
                <div class="excom-teams">

                    <div class="excom-card align-items-center">
                        {% if member.image %}
                        <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                            {% endif %}><img src="{{member.image.url}}"></a>
                        {% else %}
                        <a {% if member.resume %} href="{{ member.resume.url }}" target="_new" {% else %} href="#"
                            {% endif %}><img src="{% static 'images/defaultDP.jpg' %}"></a>
                        {% endif %}
                        <br>
                        {{member.name}}
                        <br>
                        {{member.designation}}
                        <br>
                        {% if member.facebook %}
                        <a href="{{member.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
                        {% endif %}
                        {% if member.linkedIn %}
                        <a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                        {% endif %}
                        {% if member.email %}
                        <a href="mailto:{{member.email}}"><i class="fas fa-at fa-1x"></i></a>
                        {% endif %}
                    </div>

                </div>
            </div>{% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block pageJS %}
<script type="text/javascript" src="{% static 'js/specificEvent.js' %}"></script>
{% endblock %}