{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
SIGs
{% endblock %}
{%block index %}

{{sig.members}}
<div class="container events-container">
  <div class="row">
    <div class="col events-category">
      <h2>SIGs COMING SOON</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col m-auto">
      <h3>Register yourself as a mentor <a href="http://bit.ly/IEEESIG2019">here</a>. </h3>
    </div>
  </div>
  <!-- <div class="events-past">
    {% for s in sig %}
    <div class="row events-card">
      <div class="col-12 col-lg-3 col-sm-3 col-md-3 events-image">
        <img src="{{s.image.url}}">
      </div>
      <div class="col-12 col-lg-9 col-sm-9 col-md-9 events-content">
        <div class="row events-title-date">
          <div class="col-12 col-lg-8 col-sm-7 col-md-8 align-items-center">
            <h5>
              {{s.title}}
            </h5>
          </div>
          <div class="col-12 col-lg-4 col-sm-4 col-md-4">
            <h5>
              <p>{{s.timings}}</p>
            </h5>
          </div>
        </div>
        <hr class="events-hr">
        <div class="row">
          <div class="col events-description">
            {{s.sig_description|truncatewords:60}}
          </div>
        </div>
        <hr class="events-hr">
        <div class="row">
          <div class="col events-readmore">
            <p>
              <strong>Mentors: </strong>
              {% for mentor in s.members.all %}
              {{mentor.name}}
              <span style="font-style: italic;">{{mentor.contact}}</span> &nbsp;&nbsp;
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> -->
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}