{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
SIGs
{% endblock %}
{% block index %}

{{sig.members}}
<section id="sig" class="pb-5">
    <div class="container">
        <div class="row">
            {% for s in sig %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{s.image.url}}" alt="card image"></p>
                                    <h4 class="card-title">{{s.title}}</h4>
                                    <p class="card-text">{{s.sig_description|truncatewords:18}}</p>
                                    <p>
                                      <strong>Mentors:</strong>&nbsp;
                                        {{ s.members.all|join:', '}}
                                    </p>
                                    <b>{{s.timings}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{s.title}}</h4>
                                    <p class="card-text">{{s.sig_description}}</p>
                                    <b>*** Mentors Contact ***</b>
                                    <p style="font-size:14px;">
                                        {% for mentor in s.members.all %}
                                            {{mentor.name}},&nbsp;{{mentor.contact}} </br>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}