{% extends "base.html" %}
{% load static %}
{% block navbar %}
  {% include "navbar.html"%}
{% endblock %}
{% block title %}
  {{ eventData.event_title }}
{% endblock %}
{% block index %}
<div class="container jumbotron mt-3">
  <img src="{{ eventData.image.url }}" alt="event-image" class="event-image">
  <div class="event-details">
    <h1>{{ eventData.event_title }}</h1>
    <h3>{{ eventData.event_date|date:"d N Y" }}</h3>
    <p>{{ eventData.event_description|safe }}</p>
  </div>
  <div class="specific-buttons card-footer">
    {% if eventData in pastEvents and eventData.report %}
    <a type="button" class="btn btn-primary" href="{{eventData.report.url}}"  >Get Report</a>
  {% endif %}

  {% if eventData in futureEvents and eventData.register_url %}
    <a type="button" class="btn btn-primary"  href="{{ eventData.register_url }}"  target="_new" >Register Now</a>
  {% endif %}
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
{% block pageJS %}
  <script type="text/javascript" src="{% static 'js/specificEvent.js' %}"></script>
{% endblock %}
