{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html"%}
{% endblock %}
{% block title %}
TEAM MSIT
{% endblock %}
{% block index %}
<div class="team-wrapper">
	<h1 class="team-title">Web Team</h1>
	<div class="team-container">
		{% for member in team %}
		{% if forloop.counter0|divisibleby:3 %}
		<div class="d-flex flex-wrap align-items-start team-align">
			{% endif %}
			<div class="card mb-3 m-1 team-card">
				<div class="row no-gutters p-1">
					<div class="col-md-4 d-inline-flex">
						{% if member.image %}
						<a style="display: inline-flex;" {% if member.resume %} href="{{ member.resume.url }}" target="_blank" {% else %} href="#" {% endif %}><img src={{member.image.url}} class="card-img team-image" alt="memberPicture"></a>
						{% else %}
						<a style="display: inline-flex;" {% if member.resume %} href="{{ member.resume.url }}" target="_blank" {% else %} href="#" {% endif %}><img src="{% static 'images/defaultDP.jpg' %}" class="card-img team-image" alt="memberPicture"></a>
						{% endif %}
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title team-member-name">{{member.name}}</h5>
							<div class="row">
								{% if member.github %}
								<div class="col-4 d-inline-flex align-items-center justify-content-center team-card-line">
									<a href="{{member.github}}" target="_blank"><i class="fab fa-github fa-lg"></i></a>
								</div>
								{% endif %}
								{% if member.linkedIn %}
								<div class="col-4 d-inline-flex align-items-center justify-content-center 
								{% if member.email %} 
								 team-card-line"
								{% else %}
								"
								{% endif %}>
								<a href="{{member.linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
								</div>
								{% endif %}
								{% if member.email %}
								<div class="col-4 d-inline-flex align-items-center justify-content-center">
									<a href="{{member.linkedIn}}" target="_blank" style="color: inherit;"><i class="fa fa-envelope"></i></a>
								</div>
								{% endif %}

							</div>

						</div>
					</div>
				</div>
		</div>
		{% if forloop.counter|divisibleby:3 %}
	</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
