{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TPE 2020 - IEEE MSIT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tpe/css/agency.css' %}" rel="stylesheet">-->
    <link href="{% static 'tpe/css/tpe1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>
</head>

<body id="page-top" class="index" data-spy="scroll" data-target="bs-example-navbar-collapse-1" data-offset="60">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span> Menu
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <img src="img/logos/ieee.png" alt="" width="80px"> -->
                <a class="navbar-brand page-scroll" href="http://ieee.msit.in">
                    <img src="{% static 'img/logos/ieee.png' %}" alt="" width="80px" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#level">Levels</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#judge">Judges</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsor">Sponsors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">IEEE MSIT presents</div>
                <div class="intro-heading">Technical Project Exhibition 2019</div>
                <h3 id="demo"></h3>
                <span class="reg">
                    <a href="https://bit.ly/TPE_2020" target="_blank" class="page-scroll btn btn-xl">Register</a>
                </span>
                <span class="reg">
                    <a href="https://bit.ly/rulebook_tpe2020" target="_blank"
                        class="page-scroll btn btn-xl">Rulebook</a>
                </span>
            </div>
        </div>
    </header>
    <div class="about text-center" id="about">
        <h2>About</h2>
        <p>A little about how and why we do this.</p>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <div class="one">
                    <div class="head">
                        <h3>Vision</h3>
                        <span class="fa fa-eye"></span>
                    </div>
                    <p class="text-muted">
                        The quest of Technical Project Exhibition 2019 is to provide a
                        launching pad to all the future engineering superstars to showcase
                        their innovative and unique projects in front of an esteemed panel
                        of judges and peers from all over DELHI.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <div class="one1 text-center">
                    <div class="head">
                        <h3>Project Domains</h3>
                        <span class="fa fa-laptop"></span>
                    </div>
                    <p class="text-muted">
                        This technical extravaganza witness projects from various
                        tech-domains like Digital Image Processing (MATLAB), Machine
                        Learning, Artificial Intelligence, Robotics, Android App
                        Development and wireless applications, IoT projects, signal
                        processing and VLSI projects.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <div class="one2">
                    <div class="head">
                        <h3>Impact</h3>
                        <span class="fa fa-info"></span>
                    </div>
                    <p class="text-muted">
                        The magnificent event organized by IEEE MSIT provides a platform
                        to exceptional ideas and creativity. Every project idea is aimed
                        at creating solutions for a challenging future ahead. One of the
                        major objectives of TPE is to develop affordable technologies that
                        creates an overall positive impact on the society.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="level text-center" id="level">
            <h2>Levels</h2>
            <p class="text-muted">The competition is divided into two levels.</p>
            <div class="lvl1">
                <div class="h1"></div>
                <div class="circle fir1"></div>
                <div class="circle fir2"></div>
                <div class="box box1">
                    <h4>Level 1</h4>
                    <h4>Ascent</h4>
                    <p>
                        All the aspiring participants must upload a brief descriptive
                        account of their respective projects at <a href="https://bit.ly/TPE_2020"
                            target="_blank">Registation link</a>
                        by 5th
                        March 2020. The abstracts will be screened by the honourable
                        judges and the selected entries will be invited for the succeeding
                        rounds.
                    </p>
                </div>
                <div class="box box2">
                    <h4>Level 2</h4>
                    <h4>Zenith</h4>
                    <p>
                        The teams will have to present a working demonstration of their
                        project or it’s prototype to the eminent panel of judges.
                    </p>
                </div>
                <div class="circle fir3">
                    <p>BE PART OF OUR STORY!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="judge text-center" id="judge">
            <h2>OUR PAST JUDGES</h2>
            <p class="cla">You will be judged by the experts in the industry.</p>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="jud">
                    <img src="{% static 'img/judges/farhanahmad.jpg' %}" alt="Judges" class="img-responsive" />
                    <p>Farhan ahmad</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="jud">
                    <img src="{% static 'img/judges/kishornarang.jpg' %}" alt="Judges" class="img-responsive" />
                    <p>Dr. Kishore Narang</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="jud">
                    <img src="{% static 'img/judges/rakeshmathur.jpg' %}" alt="Judges" class="img-responsive" />
                    <p>Rakesh Mathur</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="jud">
                    <img src="{% static 'img/judges/rishabhjain.jpg' %}" alt="Judges" class="img-responsive" />
                    <p>Rishabh Jain</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="jud">
                    <img src="{% static 'img/judges/priyankarathee.jpg' %}" alt="Judges" class="img-responsive" />
                    <p>Priyanka Rathee</p>
                </div>
            </div>
            <p>
                <i>You are allowed to reach out to the judges and get their opinion on
                    your abstract before you submit it. Your abstract and team profile
                    will be responsible for selection to the next round.</i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="sponsor text-center" id="sponsor">
            <h2>Past Sponsers</h2>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://foxmula.com/';">
                    <img src="{% static 'img/sponsors/inversion.jpg' %}" class="img-responsive" alt="inversion" />
                    <h5>Official Education Partner</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://collegedunia.com/';">
                    <img src="{% static 'img/sponsors/collegedunia.png' %}" class="img-responsive" alt="inversion" />
                    <h5>Official Social Media Partner</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://zoutons.com/in';">
                    <img src="{% static 'img/sponsors/zoutons.png' %}" class="img-responsive" alt="inversion" />
                    <h5>Official Coupons Partner</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://ipubuzz.co.in/';">
                    <img src="{% static 'img/sponsors/ipu.png' %}" class="img-responsive" alt="inversion"
                        style="background: black;" />
                    <h5>Official Photography Partner</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://www.madeeasy.in/';">
                    <img src="{% static 'img/sponsors/madeeasy.jpg' %}" class="img-responsive" alt="inversion" />
                    <!-- <h5>Official Education Partner</h5> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='http://www.i3indyatechnologies.com/';">
                    <img src="{% static 'img/sponsors/i3.png' %}" class="img-responsive" alt="inversion" />
                    <!-- <h5>Official Education Partner</h5> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='https://www.carhp.com/';">
                    <img src="{% static 'img/sponsors/carhp.png' %}" class="img-responsive" alt="inversion" />
                    <!-- <h5>Official Education Partner</h5> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="spon" onClick="window.location='';">
                    <img src="{% static 'img/sponsors/download.jpeg' %}" class="img-responsive" alt="inversion" />
                    <!-- <h5>Official Education Partner</h5> -->
                </div>
            </div>
        </div>
    </div>

    <aside class="client">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="/compsoc" target="_blank" id="soc" onmouseover="colorthis('soc')" onmouseout="colorall()">
                    <img src="{% static 'img/logos/cs.png' %}" class="img-responsive img-centered" alt="" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="/pes" id="pes" target="_blank" onmouseover="colorthis('pes')" onmouseout="colorall()">
                    <img src="{% static 'img/logos/pes.png' %}" class="img-responsive img-centered" alt="" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="/ras" id="ras" target="_blank" onmouseover="colorthis('ras')" onmouseout="colorall()">
                    <img src="{% static 'images/RAS_MSIT.png' %}" class="img-responsive img-centered" alt="" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="/wie" id="wie" target="_blank" onmouseover="colorthis('wie')" onmouseout="colorall()">
                    <img src="{% static 'img/logos/wie.png' %}" class="img-responsive img-centered" alt="" />
                </a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">
                        Feel free to reach us if you have any doubts.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6 text" style="color: white">
                            <h2>Address</h2>
                            <p>
                                Maharaja Surajmal Institute of Technology
                                <br />
                                C-4 Janak Puri, New Delhi-110058
                            </p>

                            <h2>Phones</h2>
                            <p>
                                (+91)9560492273
                                <br>
                                (+91)9555671034
                            </p>

                            <h2>Email</h2>
                            <p>ieee@msit.in</p>
                        </div>
                        <div class="col-md-6 map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.2916489901945!2d77.09043711491401!3d28.621019891353185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d04afb8dbcfe1%3A0xaff19e718be2136b!2sMaharaja+Surajmal+Institute+Of+Technology!5e0!3m2!1sen!2sin!4v1548572513644"
                                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 copy">
                    <span class="copyright">Copyright &copy; IEEE MSIT 2019</span>
                </div>
                <div class="col-md-4 social">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="http://msit.in/"><i class="fa fa-building"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ieeemsit"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/ieeemsit/about/"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var ids = ["soc", "pes", "ras", "wie"];

        function colorthis(id) {
            console.log("aksah");
            for (var i = 0; i < 4; i++) {
                document.getElementById(ids[i]).classList.add("black");
            }
            document.getElementById(id).classList.remove("black");
        }

        function colorall() {
            for (var i = 0; i < 4; i++) {
                document.getElementById(ids[i]).classList.remove("black");
            }
        }

        // Set the date we're counting down to
        var countDownDate = new Date("Mar 20, 2020 09:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {
            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor(
                (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML =
                days + "days " + hours + "h " + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML =
                    "Event was on 20th March, 2020";
            }
        }, 1000);

        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });

        // Agency Theme JavaScript

        (function ($) {
            "use strict"; // Start of use strict

            // jQuery for page scrolling feature - requires jQuery Easing plugin
            // $('a.page-scroll').bind('click', function(event) {
            //     var $anchor = $(this);
            //     $('html, body').stop().animate({
            //         scrollTop: ($($anchor.attr('href')).offset().top - 50)
            //     }, 1250, 'easeInOutExpo');
            //     event.preventDefault();
            // });

            // Highlight the top nav as scrolling occurs
            $("body").scrollspy({
                target: ".navbar-fixed-top",
                offset: 51
            });

            // Closes the Responsive Menu on Menu Item Click
            // $('.navbar-collapse ul li a').click(function(){
            //         $('.navbar-toggle:visible').click();
            // });

            // Offset for Main Navigation
            $("#mainNav").affix({
                offset: {
                    top: 100
                }
            });
        })(jQuery); // End of use strict
    </script>
</body>

</html>