{% extends 'nav.html' %}

{% block content %}


<style>
    .customcontainer {
        min-width: 100%;
        border: 2px solid #1d1d1d;
        border-radius: 5px;
        max-width: 100%;
        height: 100%;
        background-color: white;
    }
    .form-control {
        height: 3.2rem;
        font-size: 1.3rem;
    }

    .inpClass{
        height: 3.2rem;
        font-size: 1.3rem;
    }

    .generate{
        width: 100%;
        font-size: 1.4rem;
        padding: 0.4rem;
        font-weight: 500;
        text-shadow: 0 0 2px #00000094;
    }
</style>

<div class="container shadow p-1" style="background-color: white; border-radius: 5px;">
    <div class="row" style="margin: 1rem 0rem;">
        <div class="col-12 text-center py-2">
            <h3 style="color: #313131;font-weight: 600;font-size: 2.2rem;padding: 1rem 0rem 1.2rem 0rem;">URL Shortener</h3>
        </div>
        <div class="col-12 col-sm-11 col-md-11 mx-auto col-xl-10 col-lg-10">

            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ msg }}

                <button type="button" class="close" data-dismiss="alert" area-label="Close">
                    <span area-hidden-true>&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <form action="{% url 'generate_url' %}" method="POST">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 2.6rem;">
                    <input type="text" name="original" class="form-control inpClass" placeholder="Original Url">
                </div>
                <div class="form-group" style="margin-bottom: 1.6rem;">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="font-size: 1.3rem;">http://ieee.msit.in/s/</div>
                        <input type="text" name="short" class="form-control inpClass" placeholder="New URL (6 Chars)"
                            maxlength="6" id="short">

                    </div>
                    <p id="shorthelp" class="form-text text-muted">Leave it blank to generate randomly.</p>
                </div>
                <div class="form-group" style="margin-bottom: 2rem;">
                    <input type="submit" class="btn btn-primary px-4 generate" value="Generate">
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container my-4">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Past Url's</h4>
        </div>
    </div>
    <div class="row justify-content-between">

        {% for u in urls %}

        <div class="col-10 col-sm-11 col-md-6 mb-2 mx-auto">

            <div style="overflow: hidden;" class="customcontainer p-2">
                <div class="col-1 ml-auto">
                        <a href="{% url 'edit_url' u.id %}" class="card-link"><i class="fas fa-edit"></i></a>
                </div>

                <p style="text-overflow: ellipsis;">Original : <a href="{{ u.original_url }}" target="_blank"
                        class="card-link">{{ u.original_url }}</a>
                </p>

                <p>Shorten : <a href="http://ieee.msit.in/s/{{ u.short_query }}" target="_blank"
                        class="card-link">http://ieee.msit.in/s/{{ u.short_query }}</a></p>
                <div class="row justify-content-between">
                    <div class="col-6 col-sm-6 ">
                        <h3>Visits : {{ u.visits }} </h3>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'remove_url' u.id %}" class="card-link"><i class="fa fa-trash"></i></a>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
